
h1 {
    color: #DCD7C9 !important;
}

.text {
    color: #DCD7C9;
    width:fit-content;
}

.password-requirements {
    color:red;
    font-size: 16px;
}
.login-holder {
    width: 400px;
    height: fit-content;
    background-color: #A27B5C;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
}

.login-cluster {
    width: 300px;
    height: 300px;
    background-color: #A27B5C;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
}

.button-cluster {
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    width: 130px;
    height: fit-content;  
    margin-left: auto;
}

.spacer {
    height: 15px;
}


.input {
    background-color: #DCD7C9;
}

.sButton {
    background-color: #3F4E4F;
    border-color: #3F4E4F;
    color: #DCD7C9;
}
.sButton:hover {
    background-color: #DCD7C9;
    border-color: #DCD7C9;
    color:#3F4E4F
}

.sButton:focus {
    background-color: #3F4E4F !important;
    border-color: #3F4E4F !important;
}